.food-list{
    background-color: rgb(20, 218, 119);
    padding: 14px;
}


/* todo-list css */
h1{
    text-align: center;
    font-size: 45px;
    margin: 10px;
    font-weight: 700;
}
input{
    width: 100%;
}

.todo-container{
    
    margin-top: 20px;
}

.items-container{
   
    text-align: left;
    
}
.my_row{
    margin:10px 5px;
}
.my-Btn{
    min-width: 70px;
}